body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  color: white;
}

input#xml_input {
  position: absolute;
  top: 20px;
  left: 20px;
}

button#toggle3D {
  position: absolute;
  top: 60px;
  left: 20px;
}
